.dashboard {
  text-align: center;
  padding: 20px;
}

.charts {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  margin-top: 20px;
  height: 300px;
}

table {
  width: 75%;
  height: 100px;
  border-collapse: collapse;
  margin-top: 400px;
  margin-left: 150px;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 8px;
}

table th {
  background-color: #f2f2f2;
}

h1 {
  margin-bottom: 50px;
}
